[submodule "libevent_paxos"]
	path = libevent_paxos
	url = https://github.com/milannic/libevent_paxos
[submodule "xtern_with_paxos"]
	path = xtern_with_paxos
	url = https://github.com/hemingcui/xtern_with_paxos
