[Unit]
Description=LXC Container Initialization and Autoboot Code
After=syslog.target network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/local/libexec/lxc/lxc-devsetup
ExecStart=/usr/local/libexec/lxc/lxc-autostart-helper start
ExecStop=/usr/local/libexec/lxc/lxc-autostart-helper stop
# Environment=BOOTUP=serial
# Environment=CONSOLETYPE=serial
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
