[splash2 barnes]
REPEATS = 10
SPLASH2_NTHREADS = 2
TARBALL = parsec-3.0/ext/splash2x/apps/barnes/inputs/input_simsmall.tar
INIT_ENV_CMD = cat input.template | sed s/NUMPROCS/%(SPLASH2_NTHREADS)s/ > inputs
INPUTS = %(SPLASH2_NTHREADS)s
DBUG = 171
DBUG_INPUT = inputs
DBUG_ARBITER_PORT = 13191
DBUG_EXPLORER_PORT = 13192
DBUG_TIMEOUT = 600

[splash2 fft]
REPEATS = 10
SPLASH2_NTHREADS = 2
INPUTS = -m20 -p%(SPLASH2_NTHREADS)s
DBUG = 172
DBUG_ARBITER_PORT = 13193
DBUG_EXPLORER_PORT = 13194
DBUG_TIMEOUT = 600

[splash2 cholesky]
REPEATS = 10
SPLASH2_NTHREADS = 24
TARBALL = parsec-3.0/ext/splash2x/kernels/cholesky/inputs/input_simlarge.tar
INPUTS = -p%(SPLASH2_NTHREADS)s < tk29.O
enforce_non_det_annotations = 1

; patched
[splash2 fmm]
REPEATS = 10
SPLASH2_NTHREADS = 2
TARBALL = parsec-3.0/ext/splash2x/apps/fmm/inputs/input_simsmall.tar
INIT_ENV_CMD = cat input.template | sed s/NUMPROCS/%(SPLASH2_NTHREADS)s/ > inputs
INPUTS = %(SPLASH2_NTHREADS)s
DBUG = 173
DBUG_INPUT = inputs
DBUG_ARBITER_PORT = 13195
DBUG_EXPLORER_PORT = 13196
DBUG_TIMEOUT = 600
;enforce_non_det_annotations = 1

[splash2 lu_cb]
REPEATS = 10
SPLASH2_NTHREADS = 2
INPUTS = -p%(SPLASH2_NTHREADS)s -n512 -b16
DBUG = 174
DBUG_ARBITER_PORT = 13197
DBUG_EXPLORER_PORT = 13198
DBUG_TIMEOUT = 600

[splash2 lu_ncb]
REPEATS = 10
SPLASH2_NTHREADS = 2
INPUTS = -p%(SPLASH2_NTHREADS)s -n512 -b16
DBUG = 175
DBUG_ARBITER_PORT = 13199
DBUG_EXPLORER_PORT = 13200
DBUG_TIMEOUT = 600

[splash2 ocean_cp]
REPEATS = 10
SPLASH2_NTHREADS = 2
INPUTS = -n514 -p%(SPLASH2_NTHREADS)s -e1e-07 -r20000 -t28800
DBUG = 176
DBUG_ARBITER_PORT = 13201
DBUG_EXPLORER_PORT = 13202
DBUG_TIMEOUT = 600

[splash2 ocean_ncp]
REPEATS = 10
SPLASH2_NTHREADS = 2
INPUTS = -n514 -p%(SPLASH2_NTHREADS)s -e1e-07 -r20000 -t28800
DBUG = 177
DBUG_ARBITER_PORT = 13203
DBUG_EXPLORER_PORT = 13204
DBUG_TIMEOUT = 600

; patched
[splash2 radiosity]
REPEATS = 10
SPLASH2_NTHREADS = 2
INPUTS = -bf 1.5e-1 -batch -room -p %(SPLASH2_NTHREADS)s
DBUG = 178
DBUG_ARBITER_PORT = 13205
DBUG_EXPLORER_PORT = 13206
DBUG_TIMEOUT = 600

[splash2 radix]
REPEATS = 10
SPLASH2_NTHREADS = 2
INPUTS = -p%(SPLASH2_NTHREADS)s -r4096 -n4194304 -m2147483647
DBUG = 179
DBUG_ARBITER_PORT = 13207
DBUG_EXPLORER_PORT = 13208
DBUG_TIMEOUT = 600

[splash2 raytrace]
REPEATS = 10
SPLASH2_NTHREADS = 2
TARBALL = parsec-3.0/ext/splash2x/apps/raytrace/inputs/input_simsmall.tar
INPUTS = -s -p%(SPLASH2_NTHREADS)s -a8 teapot.env
DBUG = 180
DBUG_ARBITER_PORT = 13209
DBUG_EXPLORER_PORT = 13210
DBUG_TIMEOUT = 600
;enforce_non_det_annotations = 1

; patched
[splash2 volrend]
REPEATS = 10
SPLASH2_NTHREADS = 2
TARBALL = parsec-3.0/ext/splash2x/apps/volrend/inputs/input_simsmall.tar
INPUTS = %(SPLASH2_NTHREADS)s head-scaleddown4 20
DBUG = 181
DBUG_ARBITER_PORT = 13211
DBUG_EXPLORER_PORT = 13212
DBUG_TIMEOUT = 600

[splash2 water_nsquared]
REPEATS = 10
SPLASH2_NTHREADS = 2
TARBALL = parsec-3.0/ext/splash2x/apps/water_nsquared/inputs/input_simsmall.tar
INIT_ENV_CMD = cat input.template | sed s/NUMPROCS/%(SPLASH2_NTHREADS)s/ > inputs
INPUTS = %(SPLASH2_NTHREADS)s
DBUG = 182
DBUG_INPUT = inputs
DBUG_ARBITER_PORT = 13213
DBUG_EXPLORER_PORT = 13214
DBUG_TIMEOUT = 600

[splash2 water_spatial]
REPEATS = 10
SPLASH2_NTHREADS = 2
TARBALL = parsec-3.0/ext/splash2x/apps/water_spatial/inputs/input_simsmall.tar
INIT_ENV_CMD = cat input.template | sed s/NUMPROCS/%(SPLASH2_NTHREADS)s/ > inputs
INPUTS = %(SPLASH2_NTHREADS)s
DBUG = 183
DBUG_INPUT = inputs
DBUG_ARBITER_PORT = 13215
DBUG_EXPLORER_PORT = 13216
DBUG_TIMEOUT = 600

[splash2 cholesky]
REPEATS = 10
SPLASH2_NTHREADS = 2
TARBALL = parsec-3.0/ext/splash2x/kernels/cholesky/inputs/input_simlarge.tar
INPUTS = -p%(SPLASH2_NTHREADS)s
DBUG = 184
DBUG_INPUT = tk29.O
DBUG_ARBITER_PORT = 13217
DBUG_EXPLORER_PORT = 13218
DBUG_TIMEOUT = 600
enforce_non_det_annotations = 1

