Debug
*.swp
*.o
*.out
*.d
dep-lib
test/log
test/.db
.local
.cproject
.project
.cppproject
.settings
.db
*.log
lib*.so*
*.gz
client-ld-preload/apache
client-ld-preload/pgsql
client-ld-preload/Mongoose_Aget
test/core
*.xls
simple-sc/log
