#configuration files for the replicated state machine node group

name = "MSR-Paxos";

version = 0.02;

author = "Milannic[milannic.cheng.liu@gmail.com]";


group_size = 3;

#proxy configuration part

proxy_global_config = {
    max_connections = 10000;
    reconnect_timeval_s = 2;
    reconnect_timeval_us = 0;
    action_timeval_s = 0;
    action_timeval_us = 1000000;
    sched_with_dmt = 0;
};

proxy_config =(
    {
        ip_address = "128.59.17.174";#primary: 128.59.17.174
        port       = 9000;
        db_name    = "node_test_0";
        time_stamp_log = 1;
        sys_log = 0;
        stat_log = 0;
        req_log = 1;
    },
    {
        ip_address = "128.59.17.172";#backup1: 128.59.17.172
        port       = 9000;
        db_name    = "node_test_1";
        time_stamp_log = 1;
        sys_log = 0;
        stat_log = 0;
        req_log = 1;
    },
    {
        ip_address = "128.59.17.173";#backup2: 128.59.17.173
        port       = 9000;
        db_name    = "node_test_2";
        time_stamp_log = 1;
        sys_log = 0;
        stat_log = 0;
        req_log = 1;
    },
    {
        ip_address = "127.0.0.1";
        port       = 9000;
        db_name    = "node_test_3";
        time_stamp_log = 1;
        sys_log = 0;
        stat_log = 0;
        req_log = 1;
    },
    {
        ip_address = "127.0.0.1";
        port       = 9000;
        db_name    = "node_test_4";
        time_stamp_log = 1;
        sys_log = 0;
        stat_log = 0;
        req_log = 1;
    }
);

#consensus component configuration part

consensus_global_config = {
    reconnect_timeval_s = 2;
    reconnect_timeval_us = 2;
    ping_timeval_s = 1;
    ping_timeval_us = 0;
    progress_timeval_s = 1;
    progress_timeval_us = 0;
    expected_ping_timeval_s = 10;
    expected_ping_timeval_us = 0;
    heart_beat_threshold = 10;
    max_connections = 10000;
};

consensus_config =(
    {
        ip_address = "128.59.17.174";#primary: 128.59.17.174
        port       = 8000;
        db_name    = "node_test_0";
        sys_log = 0;
        stat_log = 1;
    },
    {
        ip_address = "128.59.17.172";#backup1: 128.59.17.172
        port       = 8000;
        db_name    = "node_test_1";
        sys_log = 0;
        stat_log = 1;
    },
    {
        ip_address = "128.59.17.173";#backup2: 128.59.17.173
        port       = 8000;
        db_name    = "node_test_2";
        sys_log = 0;
        stat_log = 1;
    },
    {
        ip_address = "127.0.0.1";
        port       = 8000;
        db_name    = "node_test_3";
        sys_log = 0;
        stat_log = 1;
    },
    {
        ip_address = "127.0.0.1";
        port       = 8000;
        db_name    = "node_test_4";
        sys_log = 0;
        stat_log = 1;
    }
);

#real server configuration

server_config =(
    {
        ip_address = "127.0.0.1";
        port       = 7000;
        db_name    = "node_test_0";
    
    },
    {
        ip_address = "127.0.0.1";
        port       = 7000;
        db_name    = "node_test_1";
    
    },
    {
        ip_address = "127.0.0.1";
        port       = 7000;
        db_name    = "node_test_2";
    
    },
    {
        ip_address = "127.0.0.1";
        port       = 7000;
        db_name    = "node_test_3";
    
    },
    {
        ip_address = "127.0.0.1";
        port       = 7000;
        db_name    = "node_test_4";
    }
);
